.tittle1 {
    color: red;
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    font-size: 70px;
    margin-left: 610px;
    margin-top:80px;
}

.links{
    color: rgb(114, 3, 218);
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    font-size: 30px;
    
}

.points{
    color: rgb(160, 3, 3);
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    font-size: 40px;
    margin-left: 310px;
}

#fondo{
    background-image: url(../images/buffet.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    
}

body, html{
    height: 100%;
}